
* {
	padding: 0;
	margin: 0;
}

/*父标签*/
/*.startButtonId,*/
.startParentWindow {
	/*position:relative;*/
	/*水平居中*/
	/*margin: 0 auto;*/
	/*偏移*/
	/*top: 45%;*/
	width: 100%;
	height: 500px;
	font-size: 50px;
	background-color: red;
}

.startButtonId {
	/* display: none; */
	width: 100%;
	height: 500px;
	font-size: 50px;
	background-color: red;
}

body {
	/*background: #000000;
                        background: -moz-linear-gradient(top, #000000 0%, #ffffff 100%);
                        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #000000), color-stop(100%, #ffffff));
                        background: -webkit-linear-gradient(top, #000000 0%, #ffffff 100%);
                        background: -o-linear-gradient(top, #000000 0%, #ffffff 100%);
                        background: -ms-linear-gradient(top, #000000 0%, #ffffff 100%);
                        background: linear-gradient(to bottom, #000000 0%, #ffffff 100%);
                        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#ffffff', GradientType=0);*/
	
}

.showLog {
	/*display: none;*/
	position: fixed;
	/*border: 2px black solid;*/
	width: max-content;
	height: 35px;
	font-size: 30px;
	z-index: 999;
	font-weight: bolder;
	-webkit-user-select: none; /* 禁止 DIV 中的文本被鼠标选中 */
	-moz-user-select: none; /* 禁止 DIV 中的文本被鼠标选中 */
	-ms-user-select: none; /* 禁止 DIV 中的文本被鼠标选中 */
	user-select: none; /* 禁止 DIV 中的文本被鼠标选中 */
}

#showMessage {
	-webkit-user-select: none; /* 禁止 DIV 中的文本被鼠标选中 */
	-moz-user-select: none; /* 禁止 DIV 中的文本被鼠标选中 */
	-ms-user-select: none; /* 禁止 DIV 中的文本被鼠标选中 */
	user-select: none; /* 禁止 DIV 中的文本被鼠标选中 */
}
